@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
    --text-family: 'Google Sans Flex', sans-serif;
    --text-size: 14px;

    --text-primary: #000000;
    --text-muted: #6B7280;
    --text-primary-button: #FFFFFF;
    --text-dark: #000000;

    --bg-primary: #FFFFFF;
    --bg-tooltip: rgba(0, 0, 0, 0.20);
    --bg-topic-item-hover: rgba(0, 0, 0, 0.20);
    --bg-background-disabler: rgba(255, 255, 255, 0.70);
    --bg-editor-toolbar: var(--clr-surface-a40);
    --bg-editor-toolbar-active: rgba(0, 0, 0, 0.40);
    --bg-editor-toolbar-active-hover: rgba(0, 0, 0, 0.20);
    --bg-editor-tool: rgba(0, 0, 0, 0.05);
    --bg-editor-tool-hover: rgba(0, 0, 0, 0.15);
    --bg-blockquote: rgba(0, 0, 0, 0.05);
    --bg-blockquote-header: rgba(255, 255, 255, 0.30);
    --bg-online: #1b7f5c;
    --bg-offline: #b13535;

    --border-header: rgba(0, 0, 0, 0.15);
    --border-footer: rgba(0, 0, 0, 0.15);
    --border-drop-down: rgba(0, 0, 0, 0.20);
    --border-modal: rgba(0, 0, 0, 0.20);
    --border-drop-down-separator: rgba(0, 0, 0, 0.20);
    --border-editor-tool: rgba(255, 255, 255, 0.10);
    --border-editor-tool-hover: rgba(255, 255, 255, 0.20);
    --border-blockquote: rgba(0, 0, 0, 0.20);
    --border-blockquote-header: rgba(0, 0, 0, 0.20);
    --border-online-status: var(--bg-primary);

    --boxshadow-drop-down: rgba(0, 0, 0, 0.20);
    --boxshadow-modal: rgba(0, 0, 0, 0.20);
    --boxshadow-editor-tool: rgba(255, 255, 255, 0.10);

    --clr-primary-a0: #433c9a;
    --clr-primary-a10: #3d3688;
    --clr-primary-a20: #363076;
    --clr-primary-a30: #302a64;
    --clr-primary-a40: #2a2453;
    --clr-primary-a50: #231e43;
    --clr-primary-a60: #1d1933;
    --clr-primary-a70: #161324;
    --clr-primary-a80: #0e0b16;
    --clr-primary-a90: #000000;

    --clr-surface-a0: #ffffff;
    --clr-surface-a10: #f0f0f0;
    --clr-surface-a20: #e1e1e1;
    --clr-surface-a30: #d3d3d3;
    --clr-surface-a40: #c5c5c5;
    --clr-surface-a50: #b6b6b6;
    --clr-surface-a60: #a9a9a9;
    --clr-surface-a70: #9b9b9b;

    --clr-surface-tonal-a0: #eceaf5;
    --clr-surface-tonal-a10: #dfdee7;
    --clr-surface-tonal-a20: #d3d1da;
    --clr-surface-tonal-a30: #c7c5cc;
    --clr-surface-tonal-a40: #bbb9bf;
    --clr-surface-tonal-a50: #afaeb2;
    --clr-surface-tonal-a60: #a3a2a5;
    --clr-surface-tonal-a70: #979799;

    /** Success colors */
    --clr-success-a0: #1b7f5c;
    --clr-success-a10: #28be8a;
    --clr-success-a20: #58dbad;

    /** Warning colors */
    --clr-warning-a0: #b8871f;
    --clr-warning-a10: #dfae44;
    --clr-warning-a20: #ebca85;

    /** Danger colors */
    --clr-danger-a0: #b13535;
    --clr-danger-a10: #d06262;
    --clr-danger-a20: #e29d9d;

    /** Info colors */
    --clr-info-a0: #1e56a3;
    --clr-info-a10: #347ada;
    --clr-info-a20: #74a4e6;
}

.dark-mode {
    --text-family: 'Google Sans Flex', sans-serif;
    --text-size: 14px;

    --text-primary: #FFFFFF;
    --text-muted: #B3B3B3;
    --text-primary-button: #000000;
    --text-dark: #000000;

    --bg-primary: #0F0F0F;
    --bg-tooltip: rgba(0, 0, 0, 0.8);
    --bg-topic-item-hover: rgba(0, 0, 0, 0.20);
    --bg-background-disabler: rgba(0, 0, 0, 0.70);
    --bg-editor-toolbar: var(--clr-surface-a10);
    --bg-editor-toolbar-active: rgba(0, 0, 0, 0.40);
    --bg-editor-toolbar-active-hover: rgba(0, 0, 0, 0.20);
    --bg-editor-tool: rgba(255, 255, 255, 0.05);
    --bg-editor-tool-hover: rgba(255, 255, 255, 0.05);
    --bg-blockquote: rgba(0, 0, 0, 0.50);
    --bg-blockquote-header: rgba(0, 0, 0, 0.80);
    --bg-online: #1b7f5c;
    --bg-offline: #b13535;

    --border-header: rgba(255, 255, 255, 0.05);
    --border-footer: rgba(255, 255, 255, 0.05);
    --border-drop-down: rgba(255, 255, 25,, 0.20);
    --border-modal: rgba(255, 255, 255, 0.05);
    --border-drop-down-separator: rgba(255, 255, 255, 0.20);
    --border-editor-tool: rgba(255, 255, 255, 0.10);
    --border-editor-tool-hover: rgba(0, 0, 0, 0.20);
    --border-blockquote: rgba(255, 255, 255, 0.20);
    --border-online-status: var(--bg-primary);

    --boxshadow-drop-down: rgba(0, 0, 0, 0.40);
    --boxshadow-modal: rgba(255, 255, 255, 0.10);
    --boxshadow-editor-tool: rgba(255, 255, 255, 0.10);

    --clr-primary-a0: #ff7a1a;
    --clr-primary-a10: #ff8a39;
    --clr-primary-a20: #ff9953;
    --clr-primary-a30: #ffa86b;
    --clr-primary-a40: #ffb683;
    --clr-primary-a50: #ffc59c;
    --clr-primary-a60: #ffd4b4;
    --clr-primary-a70: #ffe2cd;
    --clr-primary-a80: #fff1e6;
    --clr-primary-a90: #ffffff;

    /** Theme surface colors */
    --clr-surface-a0: #0f0f0f;
    --clr-surface-a10: #262626;
    --clr-surface-a20: #3d3d3d;
    --clr-surface-a30: #555555;
    --clr-surface-a40: #6f6f6f;
    --clr-surface-a50: #8a8a8a;
    --clr-surface-a60: #a6a6a6;
    --clr-surface-a70: #c3c3c3;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #251a13;
    --clr-surface-tonal-a10: #3a2f28;
    --clr-surface-tonal-a20: #50453f;
    --clr-surface-tonal-a30: #675d58;
    --clr-surface-tonal-a40: #7e7671;
    --clr-surface-tonal-a50: #97908c;
    --clr-surface-tonal-a60: #b0aaa7;
    --clr-surface-tonal-a70: #cac6c4;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}

body {
    font-family: var(--text-family);
    font-size: var(--text-size);
    color: var(--text-primary);
    background-color: var(--bg-primary);
    padding: 0;
    margin: 0;
    padding-top: 90px;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 500;
    background-color: var(--clr-surface-a0);
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid var(--border-header);
}

header .grid-a {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 30px;
    align-items: center;
}

.unb-center-floater {
    width: 1200px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.unb-menu {
    position: relative;
    display: flex;
}

.tooltip {
    position: relative;
    white-space: nowrap;
    z-index: 9999;
    isolation: isolate;
}

.tooltip::before, .tooltip::after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;
    z-index: 10000;
}

.tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    font-size: 13px;
}

.tooltip::before {
    content: attr(data-title);
    z-index: 2;
    width: fit-content;
    color: var(--text-primary);
    font-weight: normal;
    background: var(--bg-tooltip);
    border-radius: 5px;
    padding: 5px;
} 

.tooltip::after {
    content: "";
    width: 0;
    height: 0;
}

.tooltip--top::before,
.tooltip--top::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
}

.tooltip--top::after {
    margin-bottom: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid var(--bg-tooltip);
}

.tooltip--bottom::before, .tooltip--bottom::after {
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
}

.tooltip--bottom::after {
    margin-top: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid var(--bg-tooltip);
} 

.tooltip--right::before, .tooltip--right::after {
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    margin-left: 15px;
}

.tooltip--right::after {
    margin-left: 8px;
    border-top: 5px solid transparent;
    border-right: 7px solid var(--bg-tooltip);
    border-bottom: 5px solid transparent;
}  

.tooltip--left::before, .tooltip--left::after {
    top: 50%;
    right: 100%;
    transform: translate(0, -50%);
    margin-right: 15px;
}

.tooltip--left::after {
    margin-right: 8px;
    border-top: 5px solid transparent;
    border-left: 7px solid var(--bg-tooltip);
    border-bottom: 5px solid transparent;
}

.unb-toggles-container {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 600;
}

.unb-drop-down {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 700;
    border-radius: 8px;
    white-space: nowrap;
    background: var(--clr-surface-a10);
    border: 1px solid var(--border-drop-down);
    box-shadow: 2px 2px 2px var(--boxshadow-drop-down);
    display: none;
}

.dropdown-toggle:hover, .dropdown-toggle.is-open {
    color: var(--clr-primary-a0) !important;
}

.unb-left-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 60px;
}

.unb-right-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 60px;
}

.unb-left-row-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 30px;
}

.unb-content-container {
    width: auto;
    margin-top: 30px;
    position: relative;
}

.unb-ajax-loader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 800;
}

.unb-topic-item {
    border-radius: 8px;
    padding: 12px;
    transition: 0.2s ease all;
    margin-top: 10px;
}

.unb-topic-item:first-of-type {
    margin-top: 0;
}

.unb-topic-item:hover {
    cursor: pointer;
    background: var(--bg-topic-item-hover);
    transition: 0.2s ease all;
}

.unb-topic-item-col-grid {
    display: grid;
    grid-template-columns: 40px 1fr auto auto;
    gap: 20px;
}

.unb-topic-info-row-grid {
    display: grid;
    grid-auto-rows: auto;
    gap: 4px;
}

.unb-topic-item-creator {
    font-size: 11px;
    color: var(--text-muted);
}

.unb-topic-item-preview {
    font-size: 11px;
    color: var(--text-muted);
}

.unb-topic-item-stats-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
}

.unb-topic-item-stats-grid div {
    font-size: 13px;
    white-space: nowrap;
    color: var(--text-muted);
}

.unb-topic-item-stats-grid div i {
    margin-right: 6px;
}

.unb-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unb-photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.unb-no-photo {
    width:100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 800;
    color: var(--textcolor);
}

.unb-no-photo-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    color: var(--textcolor);
}

.unb-no-photo-mini {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    color: var(--textcolor);
}

.unb-photo-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unb-photo-thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.unb-photo-mini {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unb-photo-mini img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.unb-left-margin {
    margin-left: 10px;
}

.unb-topic-item-info-bubble {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
    background: var(--clr-surface-a20);
    font-size: 10px;
    font-weight: 900;
    margin-left: 10px;
    z-index: 0;
}

.unb-load-more {
    margin-top: 30px;
    text-align: center;
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 600;
    border-top: 1px solid var(--border-footer);
    padding: 10px 0;
    font-size: 11px;
    color: var(--text-muted);
}

.unb-footer-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    align-items: center;
}

.unb-align-center {
    text-align: center;
    margin: 0 auto;
}

.unb-align-right {
    text-align: right;
    margin: 0 0 0 auto;
}

.unb-footer-left-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    width: fit-content;
}

#unb-background-disabler {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-height: 100%;
    background: var(--bg-background-disabler);
    transition: opacity 0.25s ease;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    display: none;
    visibility: hidden;
    backdrop-filter: blur(5px);
}

#unb-background-disabler.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.unb-modal {
    color: var(--text-primary);
    position: fixed;
    top: 100px;
    transform: translateY(-20px);
    opacity: 0;
    z-index: 9999999;
    border-radius: 8px;
    border: 1px solid var(--border-modal);
    background: var(--clr-surface-a0);
    box-shadow: 2px 2px 6px var(--boxshadow-modal);
    padding: 0;
    transition: opacity 0.25s ease, transform 0.25s ease;
    display: none;
}

.unb-modal.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
}

.unb-modal-header {
    width: auto;
    padding: 20px;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid var(--border-modal);
}

.unb-modal-header-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    align-items: center;
}

.unb-modal-body {
    width: auto;
    padding: 20px;
}

.unb-modal-body-no-header {
    width: auto;
    padding: 20px;
    border-radius: 8px 8px 0 0;
}

.unb-modal-footer {
    width: auto;
    padding: 20px;
    border-top: 1px solid var(--border-modal);
    align-items: center;
    margin: 0 auto;
}

.unb-sign-in-option span {
    margin-top: 12px;
    display: block;
}

.unb-sign-in-option span:first-of-type {
    margin-top: 0;
    display: block;
}

.unb-error-box {
    position: relative;
    width: auto;
    border-radius: 8px;
    background: var(--clr-danger-a20);
    border: 1px solid var(--clr-danger-a0);
    padding: 20px;
    margin-bottom: 30px;
    color: var(--text-dark);
}

.unb-member-bar-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    width: fit-content;
}

.unb-member-bar-grid div {
    white-space: nowrap;
}

.unb-side-by-side {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
    width: fit-content;
}

.unb-drop-down-links em {
    display: block;
    height: 0;
    border-top: 1px solid var(--border-drop-down-separator);
}

.relative {
    position: relative;
}

.unb-drop-down-scroller {
    width: auto;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    display: block;
}

.unb-media {
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--clr-surface-a50);
    background: var(--clr-surface-a0);
}

.unb-media iframe .unb-media video {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.unb-modal-scroller {
    max-height: 400px;
    overflow-y: auto;
}

.unb-code-box pre {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--bg-blockquote);
    border: 1px solid var(--border-blockquote);
    padding: 20px;
    margin: 0;
    white-space: pre;
    overflow-x: auto;
    border-left: 5px solid var(--clr-primary-a0);
    counter-reset: line;
    padding-left: 50px;
}

.unb-code-box > code {
    display: block;
    white-space: inherit;
}

.hidden {
    display: none;
}

.unb-code-box span {
    display: block;
    position: relative;
    padding-left: 10px;
}

.unb-code-box code span::before {
    counter-reset: line;
    content: counter(line);
    position: absolute;
    left: 45px;
    width: 35px;
    text-align: right;
    color: var(--text-muted);
}

.unb-posts-with-left-sidebar {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
}

.unb-posts-with-right-sidebar {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 30px;
}

.unb-page-title-bar {
    width: auto;
    margin-bottom: 40px;
}

.unb-page-title {
    font-size: 28px;
    font-weight: 600;
}

.unb-horizontal-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.unb-horizontal-grid.centered {
    align-items: center;
}

.unb-page-title-row-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 8px;
}

.unb-forum-bubbles span {
    margin-left: 4px;
}

.unb-forum-bubbles span:first-of-type {
    margin-left: 0;
}

.unb-forum-bubbles span:only-child {
    margin-left: 0;
}

.unb-bubble-for-topic {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10px;
    background: var(--clr-surface-a0);
    border: 1px solid var(--clr-surface-a40);
}

.unb-bubble-for-topic.emphasize {
    font-weight: 800;
}

.unb-bubble-for-topic strong {
    font-weight: 800;
}

.unb-bubble-for-topic i {
    margin-right: 6px;
}

.unb-side-by-side-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 2px;
}

.unb-topic-creator-timestamp {
    color: var(--text-muted);
    font-size: 11px;
}

.unb-post-grid {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 10px;
}

.unb-vertical-timeline {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 4px;
}

.unb-vertical-timeline-left {
    position: relative;
}

.unb-vertical-timeline-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    background: var(--clr-surface-a30);
    width: 1px;
    height: 100%;
}

.unb-vertical-timeline-photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.unb-vertical-timeline-photo-inner {
    position: relative;
}

.unb-vertical-timeline-content-grid {
    display: grid;
    grid-template-rows: auto 1fr auto 0px 20px;
    gap: 14px;
}

.unb-vertical-timeline-divider {
    border-bottom: 1px solid var(--clr-surface-a10);
}

.unb-vertical-timeline-auto-col {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto);
    gap: 10px;
    align-items: center;
    width: fit-content;
}

.unb-vertical-timeline-meta-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 40px;
    align-items: center;
}

.unb-vertical-timeline-timestamp {
    color: var(--text-muted);
    font-size: 13px;
}

.unb-vertical-timeline-timestamp i {
    margin-right: 6px;
}

.unb-vertical-timeline-content {
    font-size: 15px;
}

.unb-vertical-timeline-author-online-status {
    position: absolute;
    right: 14px;
    bottom: -44px;
    z-index: 200;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid var(--border-online-status);
}

.unb-vertical-timeline-author-online-status.online {
    background: var(--bg-online);
}

.unb-vertical-timeline-author-online-status.offline {
    background: var(--bg-offline);
}

.unb-vertical-timeline-clock {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 14px;
    border: 1px solid var(--clr-surface-a20);
    border-radius: 50%;
    color: var(--clr-surface-a60);
    background: var(--bg-primary);
}

.unb-vertical-timeline-clock-text {
    padding-top: 4px;
    color: var(--text-muted);
    padding-bottom: 40px;
}

.unb-vertical-timeline-end {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--clr-surface-a20);
}

.unb-vertical-timeline-bottom-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    align-items: center;
}

.unb-vertical-timeline-bottom-options-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
}

.unb-like-button-wrapper {
    display: flex;
}

.unb-like-item {
    width: auto;
    border-top: 1px solid var(--clr-surface-a10);
    padding: 20px 0;
}

.unb-like-item:first-of-type, .unb-like-item:only-child {
    border-top: none;
    padding: 0 0 20px 0;
}

.unb-like-item:last-of-type, .unb-like-item:last-child {
    padding: 20px 0 0 0;
}

.unb-topic-timeline {
    width: 120px;
    padding: 10px;
}

.unb-timeline-track {
    width: 4px;
    height: 280px;
    background: var(--clr-surface-a20);
    margin: auto;
    position: relative;
    border-radius: 4px;
}

.unb-timeline-thumb {
    width: 14px;
    height: 14px;
    background: var(--clr-primary-a0);
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: 0;
    cursor: pointer;
}

.unb-timeline-info {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}

.unb-timeline-post {
    font-weight: 600;
}

.unb-timeline-unread {
    color: var(--text-muted);
    margin-top: 5px;
}